# Excelファイル → HTML テーブル変換

In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd

from funcs.conv import df_to_html

In [3]:
file_body = '../excel/trader_8306_20250228'
file_excel = '%s.xlsm' % file_body
df = pd.read_excel(file_excel, sheet_name='Transaction')
df

   注文番号        時刻   売買      金額      損益   最大益   最大損               備考
0     1  09:17:01   売建  192250     NaN   NaN   NaN   建玉, period = 1
1     1  09:35:01   買埋  192250  1150.0  1350  -250  返済, period = 18
2     2  09:37:01   買建  191400     NaN   NaN   NaN   建玉, period = 2
3     2  09:41:40   売埋  191400  -350.0   150  -350  損切１, period = 6
4     3  10:06:01   売建  190350     NaN   NaN   NaN   建玉, period = 1
5     3  10:11:01   買埋  190350  -350.0   150  -350  損切１, period = 6
6     4  10:30:01   売建  189950     NaN   NaN   NaN   建玉, period = 4
7     4  10:34:12   買埋  189950   150.0   550     0  利確１, period = 8
8     5  13:27:01   買建  190300     NaN   NaN   NaN   建玉, period = 2
9     5  13:47:02   売埋  190300     0.0   200  -150  返済, period = 21
10  ---       ---  ---    実現損益   600.0   ---   ---              ---

In [4]:
list_col_format = ['int', 'str', 'str', 'int', 'int', 'int', 'int', 'str']
list_html = df_to_html(df, list_col_format)

file_html = '%s.html' % file_body
with open(file_html, mode='w') as f:
    f.writelines(list_html)