In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame()
df.index.name = '#'

for r in range(200):
    n = r + 1
    x1 = 0.00005 * n
    x2 = x1 * 10
    df.at[n, 'af_init'] = 0
    df.at[n, 'af_step'] = x1
    df.at[n, 'af_max'] = x2

df

     af_init  af_step  af_max
#
1        0.0  0.00005  0.0005
2        0.0  0.00010  0.0010
3        0.0  0.00015  0.0015
4        0.0  0.00020  0.0020
5        0.0  0.00025  0.0025
..       ...      ...     ...
196      0.0  0.00980  0.0980
197      0.0  0.00985  0.0985
198      0.0  0.00990  0.0990
199      0.0  0.00995  0.0995
200      0.0  0.01000  0.1000

[200 rows x 3 columns]

In [5]:
file_json = 'doe_af.json'
df.to_json(file_json)

In [6]:
pd.read_json(file_json)

     af_init  af_step  af_max
1          0  0.00005  0.0005
2          0  0.00010  0.0010
3          0  0.00015  0.0015
4          0  0.00020  0.0020
5          0  0.00025  0.0025
..       ...      ...     ...
196        0  0.00980  0.0980
197        0  0.00985  0.0985
198        0  0.00990  0.0990
199        0  0.00995  0.0995
200        0  0.01000  0.1000

[200 rows x 3 columns]