In [23]:
import pandas as pd

df = pd.DataFrame()
df.index.name = '#'

index_row = 1
x0 = 0.00001
mag = 100
for k in range(10):
    x1 = x0 * (k + 1)
    x2 = x1 * mag
    df.at[index_row, 'af_init'] = x1
    df.at[index_row, 'af_step'] = x1
    df.at[index_row, 'af_max'] = x2

    index_row += 1

df

    af_init  af_step  af_max
#
1   0.00001  0.00001   0.001
2   0.00002  0.00002   0.002
3   0.00003  0.00003   0.003
4   0.00004  0.00004   0.004
5   0.00005  0.00005   0.005
6   0.00006  0.00006   0.006
7   0.00007  0.00007   0.007
8   0.00008  0.00008   0.008
9   0.00009  0.00009   0.009
10  0.00010  0.00010   0.010

In [24]:
file_json = 'doe_trial_003.json'
df.to_json(file_json)

In [25]:
pd.read_json(file_json)

    af_init  af_step  af_max
1   0.00001  0.00001   0.001
2   0.00002  0.00002   0.002
3   0.00003  0.00003   0.003
4   0.00004  0.00004   0.004
5   0.00005  0.00005   0.005
6   0.00006  0.00006   0.006
7   0.00007  0.00007   0.007
8   0.00008  0.00008   0.008
9   0.00009  0.00009   0.009
10  0.00010  0.00010   0.010