In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df.index.name = '#'

index_row = 1
for k in [0.00001, 0.0001, 0.001, 0.01]:
    for r in [1, 2, 3, 5, 7.5]:
        x1 = k * r
        x2 = x1 * 10
        df.at[index_row, 'af_init'] = 0
        df.at[index_row, 'af_step'] = x1
        df.at[index_row, 'af_max'] = x2

        index_row += 1

df

    af_init   af_step   af_max
#
1       0.0  0.000010  0.00010
2       0.0  0.000020  0.00020
3       0.0  0.000030  0.00030
4       0.0  0.000050  0.00050
5       0.0  0.000075  0.00075
6       0.0  0.000100  0.00100
7       0.0  0.000200  0.00200
8       0.0  0.000300  0.00300
9       0.0  0.000500  0.00500
10      0.0  0.000750  0.00750
11      0.0  0.001000  0.01000
12      0.0  0.002000  0.02000
13      0.0  0.003000  0.03000
14      0.0  0.005000  0.05000
15      0.0  0.007500  0.07500
16      0.0  0.010000  0.10000
17      0.0  0.020000  0.20000
18      0.0  0.030000  0.30000
19      0.0  0.050000  0.50000
20      0.0  0.075000  0.75000

In [3]:
file_json = 'doe_af.json'
df.to_json(file_json)

In [4]:
pd.read_json(file_json)

    af_init   af_step   af_max
1         0  0.000010  0.00010
2         0  0.000020  0.00020
3         0  0.000030  0.00030
4         0  0.000050  0.00050
5         0  0.000075  0.00075
6         0  0.000100  0.00100
7         0  0.000200  0.00200
8         0  0.000300  0.00300
9         0  0.000500  0.00500
10        0  0.000750  0.00750
11        0  0.001000  0.01000
12        0  0.002000  0.02000
13        0  0.003000  0.03000
14        0  0.005000  0.05000
15        0  0.007500  0.07500
16        0  0.010000  0.10000
17        0  0.020000  0.20000
18        0  0.030000  0.30000
19        0  0.050000  0.50000
20        0  0.075000  0.75000

In [5]:
file_html = 'doe_af.html'
df.to_html(file_html)