In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df.index.name = '#'

df.at[1, 'af_init'] = 0.005
df.at[1, 'af_step'] = 0.005
df.at[1, 'af_max'] = 0.05

df.at[2, 'af_init'] = 0.0025
df.at[2, 'af_step'] = 0.0025
df.at[2, 'af_max'] = 0.025

df.at[3, 'af_init'] = 0.001
df.at[3, 'af_step'] = 0.001
df.at[3, 'af_max'] = 0.01

df.at[4, 'af_init'] = 0.0005
df.at[4, 'af_step'] = 0.0005
df.at[4, 'af_max'] = 0.005

df.at[5, 'af_init'] = 0.00025
df.at[5, 'af_step'] = 0.00025
df.at[5, 'af_max'] = 0.0025

df.at[6, 'af_init'] = 0.0001
df.at[6, 'af_step'] = 0.0001
df.at[6, 'af_max'] = 0.001

df

   af_init  af_step  af_max
#
1  0.00500  0.00500  0.0500
2  0.00250  0.00250  0.0250
3  0.00100  0.00100  0.0100
4  0.00050  0.00050  0.0050
5  0.00025  0.00025  0.0025
6  0.00010  0.00010  0.0010

In [3]:
file_json = 'doe_af.json'
df.to_json(file_json)

In [4]:
pd.read_json(file_json)

   af_init  af_step  af_max
1  0.00500  0.00500  0.0500
2  0.00250  0.00250  0.0250
3  0.00100  0.00100  0.0100
4  0.00050  0.00050  0.0050
5  0.00025  0.00025  0.0025
6  0.00010  0.00010  0.0010